# Blacklist everything by default, so nothing is accidentally committed:
*

# Whitelist directories so we may recurse into them
!*/

# Whitelist the following files and directories:
!/.gitignore
!/CHANGELOG.md
!/LICENSE
!/README.md
!/build.gradle
!/config/**/*.xml
!/config/**/*.xsl
!/gradle.properties
!/gradle/wrapper/gradle-wrapper.jar
!/gradle/wrapper/gradle-wrapper.properties
!/gradlew
!/gradlew.bat
!/javadoc.options
!/settings.gradle
!/src/integ/java/**/*.java
!/src/integ/resources/**/*.bytecode.bytes
!/src/integ/resources/**/*.protobuf.bytes
!/src/integ/resources/**/*.txt
!/src/main/java/**/*.java
!/src/main/java/**/lombok.config
!/src/main/resources/logback.groovy
!/src/test/java/**/*.java
